{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            <h2 class="mt-5 mb-5 pt-5 pb-5 text-center">La page demandée n'existe pas</h2>
            <img class="poisson" src="img/logoorange.png" alt="">
        </div>
    </main>
{% endblock %}