{% extends 'base.html.twig' %}

{% block body %}
<section class="fil-ariane">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="accueil">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Galerie</li>
                </ol>
            </nav>
        </div>
    </section>
    <main class="galerie">
        <section class="top">
            <div class="container">
                <h1 class="titre">Galerie</h1>
            </div>
        </section>
        <section class="medias">
            <div class="container">
                <div class="row mb-5">
                    {% for image in images %}
                    <div class="col-md-4 mb-3">
                        <a data-fancybox="gallery" href="{{ image.image }}">
                            <img src="{{ image.image }}" class="img-fluid" alt="{{ image.titre }}">
                        </a>
                    </div>
                    {% endfor %} 
                </div>
            </div>
        </section>
    </main>
{% endblock %}