{% extends 'base.html.twig' %}

{% block body %}
<section class="fil-ariane">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="accueil">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Nous rejoindre</li>
                </ol>
            </nav>
        </div>
    </section>
<main class="rejoindre">
    <div class="container">
        <h1>rejoignez-nous</h1>
        <div class="row adherent">
            <div class="col-md-6">
                <p>Être adhérent c’est défendre une cause qui vous tient à cœur. C’est également contribuer au développement de l’association par la prise de parole lors de l’assemblée générale ainsi que la participation aux événements extérieurs : festival, apéritifs partenaires.</p>
                <p>Mais aussi un droit de vote des artistes participants à la programmation du festival. Cool n’est-ce pas ? </p>
                <p>Alors si tu veux nous rejoindre, un formulaire est à disposition et une petite cotisation est demandée. </p>
                <p>Renvoie-nous tout ça pour faire partie du groupe.</p>
                <button>Devenez adhérent</button>
            </div>
            <div class="col-md-6">
                <img src="img/PHOTO.png" alt="">
            </div>
        </div>
        <div class="ligne"></div>
        <div class="row benevole">
            <div class="col-md-6">
                <img src="img/PHOTO2.png" alt="">
            </div>
            <div class="col-md-6">
                <p>Se sentir utile et pouvoir profiter d’événements culturels et musicaux ? Deviens bénévole et file-nous un coup de main.</p>
                <p>En échange de quelques heures de services, tu pourras profiter des concerts pendant le festival et être au cœur de l’action.</p>
                <p>Excellente façon de mêler l’utile à l’agréable.</p>
                <p>C’est aussi un bon moyen de voir l’envers du décor du secteur de la culture et de l’événementiel, de faire des rencontres et de commencer à se faire un réseau, si tu es intéressé par les métiers du spectacle.</p>
                <p>Ainsi, être bénévole en festival c’est aussi un bon moyen de gagner de l’expérience à mettre en avant sur ton CV pour tes futurs candidatures.</p>
                <p>Si tu veux en savoir plus sur les postes que nous proposons et les infos supplémentaires avant de te lancer, n’hésite pas à nous contacter ! </p>
                <button>Devenez bénévole</button>
            </div>
        </div>
    </div>
</main>

{% endblock %}